html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    position: relative; /* Needed for absolute positioning of pseudo-element */
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('data/background-honey.jpg');
    background-size: cover;
    opacity: 0.6; /* 60% opacity */
    z-index: -1; /* Places it behind the content */
}

#left-container {
    margin: 30px 0px 30px 30px;
    border: 3px solid black;
    border-right-width: 1.5px;
    flex: 1;
    background-color: white;
}

#right-container {
    margin: 30px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 3px solid black;
    border-left-width: 1.5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

#title {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#myDropdown {
    width: fit-content;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    background: none;
    max-width: 100%;
}

#state {
    margin:15px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding-left: 10px;
}

#description {
    font-family: Arial, sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

#heat-map-viz {
    flex: 1;
}

/* Remove arrow from dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
}
